<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Allure Screenshot Suite" verbose="1">
    <listeners>
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
        <listener class-name="com.simbirsoft.ui.utils.ScreenshotTestListener"/>
    </listeners>
    <test name="Home Page Tests">
        <classes>
            <class name="com.simbirsoft.ui.tests.HomePageTests"/>
        </classes>
    </test>
</suite>